In [1]:
import pandas as pd

In [2]:
# Loading the dataset
ruta_del_archivo = 'Dataset.csv'
data = pd.read_csv(ruta_del_archivo, header=0, index_col=0)

In [5]:
num_filas, num_columnas = data.shape

# Imprimir los resultados
print("N√∫mero de filas:", num_filas)
print("N√∫mero de columnas:", num_columnas)

N√∫mero de filas: 1054
N√∫mero de columnas: 18

In [6]:
data.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
Case_No,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,family member,No
2,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes
3,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,family member,Yes
4,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,family member,Yes
5,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,family member,Yes

In [7]:
#duplicados
duplicate_count = len(data) - len(data.drop_duplicates()) # Original data length minus data length without duplicates
duplicate_count

79

In [8]:
data.drop_duplicates(inplace=True) # Drop duplicates in place
data

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
Case_No,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,family member,No
2,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes
3,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,family member,Yes
4,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,family member,Yes
5,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,family member,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,0,0,0,0,0,0,0,0,0,1,24,1,f,White European,no,yes,family member,No
1051,0,0,1,1,1,0,1,0,1,0,12,5,m,black,yes,no,family member,Yes
1052,1,0,1,1,1,1,1,1,1,1,18,9,m,middle eastern,yes,no,family member,Yes
1053,1,0,0,0,0,0,0,1,0,1,19,3,m,White European,no,yes,family member,No
1054,1,1,0,0,1,1,0,1,1,0,24,6,m,asian,yes,yes,family member,Yes

In [9]:
#Eliminar las columnas de:
#Age_mons
#Qchat-10-Score
#Ethnicity
#Jaundice
#Who completed the text
#y convertir el resto en binario para revisar al final la colinealidad.

In [10]:
tipos_de_datos = data.dtypes

# Imprime los tipos de datos para cada columna
print("Tipos de datos en el DataFrame:")
print(tipos_de_datos)

Tipos de datos en el DataFrame:
A1                         int64
A2                         int64
A3                         int64
A4                         int64
A5                         int64
A6                         int64
A7                         int64
A8                         int64
A9                         int64
A10                        int64
Age_Mons                   int64
Qchat-10-Score             int64
Sex                       object
Ethnicity                 object
Jaundice                  object
Family_mem_with_ASD       object
Who completed the test    object
Class/ASD Traits          object
dtype: object

In [11]:
print(data.columns)

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'Age_Mons',
       'Qchat-10-Score', 'Sex', 'Ethnicity', 'Jaundice', 'Family_mem_with_ASD',
       'Who completed the test', 'Class/ASD Traits '],
      dtype='object')

In [12]:
columnas_elim=['Age_Mons', 'Qchat-10-Score', 'Ethnicity', 'Jaundice', 'Who completed the test']
data= data.drop(columnas_elim, axis=1)

In [14]:
print("DataFrame despu√©s de eliminar columnas:")
print(data)

DataFrame despu√©s de eliminar columnas:
         A1  A2  A3  A4  A5  A6  A7  A8  A9  A10 Sex Family_mem_with_ASD  \
Case_No
1         0   0   0   0   0   0   1   1   0    1   f                  no
2         1   1   0   0   0   1   1   0   0    0   m                  no
3         1   0   0   0   0   0   1   1   0    1   m                  no
4         1   1   1   1   1   1   1   1   1    1   m                  no
5         1   1   0   1   1   1   1   1   1    1   f                 yes
...      ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..                 ...
1050      0   0   0   0   0   0   0   0   0    1   f                 yes
1051      0   0   1   1   1   0   1   0   1    0   m                  no
1052      1   0   1   1   1   1   1   1   1    1   m                  no
1053      1   0   0   0   0   0   0   1   0    1   m                 yes
1054      1   1   0   0   1   1   0   1   1    0   m                 yes

        Class/ASD Traits
Case_No
1                      No
2                     Yes
3                     Yes
4                     Yes
5                     Yes
...                   ...
1050                   No
1051                  Yes
1052                  Yes
1053                   No
1054                  Yes

[975 rows x 13 columns]

In [ ]:
#convertir en 0 y 1 las siguientes features
#Sex   
#Family_mem_with_ASD      
#Class/ASD Traits

In [16]:
data['Sex'] = data['Sex'].map({'f': 0, 'm': 1})
data['Family_mem_with_ASD'] = data['Family_mem_with_ASD'].map({'f': 0, 'm': 1})

# Muestra el DataFrame despu√©s de la conversi√≥n
print("\nDataFrame despu√©s de la conversi√≥n:")
print(data)

DataFrame despu√©s de la conversi√≥n:
         A1  A2  A3  A4  A5  A6  A7  A8  A9  A10  Sex Family_mem_with_ASD  \
Case_No
1         0   0   0   0   0   0   1   1   0    1    0                  no
2         1   1   0   0   0   1   1   0   0    0    1                  no
3         1   0   0   0   0   0   1   1   0    1    1                  no
4         1   1   1   1   1   1   1   1   1    1    1                  no
5         1   1   0   1   1   1   1   1   1    1    0                 yes
...      ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...                 ...
1050      0   0   0   0   0   0   0   0   0    1    0                 yes
1051      0   0   1   1   1   0   1   0   1    0    1                  no
1052      1   0   1   1   1   1   1   1   1    1    1                  no
1053      1   0   0   0   0   0   0   1   0    1    1                 yes
1054      1   1   0   0   1   1   0   1   1    0    1                 yes

        Class/ASD Traits   sex
Case_No
1                      No    0
2                     Yes    1
3                     Yes    1
4                     Yes    1
5                     Yes    0
...                   ...  ...
1050                   No    0
1051                  Yes    1
1052                  Yes    1
1053                   No    1
1054                  Yes    1

[975 rows x 14 columns]

## (2) Missing data

‚ùì Print the percentage of missing values for every column of the dataframe. ‚ùì

In [ ]:
round(data.isnull().sum().sort_values(ascending=False)/len(data),2) #NaN percentage for each column

### `GarageFinish`

‚ùì **Questions** about `GarageFinish` ‚ùì

Investigate the missing values in `GarageFinish`. Then, choose one of the following solutions:

1. Drop the column entirely
2. Impute the column median using `SimpleImputer` from Scikit-Learn
3. Preserve the NaNs and replace them with meaningful values

Make changes effective in the dataframe `data`.

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è According to the dataset description, the missing values in `GarageFinish` represent a house having no garage. They need to be encoded as such.
</details>

In [ ]:
import numpy as np

data.GarageFinish.replace(np.nan, "NoGarage", inplace=True) #Replace NaN by "NoGarage"

### `RoofSurface`

‚ùì **Questions** about `RoofSurface` ‚ùì

Investigate the missing values in `RoofSurface`. Then, choose one of the following solutions:

1. Drop the column entirely
2. Impute the column median using sklearn's `SimpleImputer`
3. Preserve the NaNs and replace them with meaningful values

Make changes effective in the dataframe `data`.

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è `RoofSurface` has a few missing values that can be imputed by the median value.
</details>

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="median") # Instanciate a SimpleImputer object with strategy of choice

imputer.fit(data[['RoofSurface']]) # Call the "fit" method on the object

data['RoofSurface'] = imputer.transform(data[['RoofSurface']]) # Call the "transform" method on the object

### `ChimneyStyle`

‚ùì **Questions** about `ChimneyStyle` ‚ùì

Investigate the missing values in `ChimneyStyle`. Then, choose one of the following solutions:

1. Drop the column entirely
2. Impute the column median
3. Preserve the NaNs and replace them with meaningful values

Make changes effective in the dataframe `data`.

<details>
    <summary>üí° <i>Hint</i></summary>
    
* ‚ö†Ô∏è Be careful: not all missing values are represented as `np.nans`, and Python's `isnull()` only detects `np.nans`...
    
* ‚ÑπÔ∏è `ChimneyStyle` has a lot of missing values. The description does not touch on what they represent. As such, it is better not to make any assumptions and to drop the column entirely.
    

</details>

In [ ]:
data.ChimneyStyle.value_counts(dropna=False) # Get unique values and their count

In [ ]:
data.ChimneyStyle.replace("?",np.nan, inplace=True) # Replace "?" by np.nan

In [ ]:
data.ChimneyStyle.isnull().sum()/len(data) # NaN percentage for Chimney Style

In [ ]:
data.drop(columns='ChimneyStyle', inplace=True) # Drop ChimneyStyle column

üß™ **Test your code**

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('missing_values',
                         dataset = data
)

result.write()
print(result.check())

‚ùì When you are done with handling missing value, print out the percentage of missing values for the entire dataframe ‚ùì

You should no longer have missing values !

In [ ]:
round(data.isnull().sum().sort_values(ascending=False)/len(data),2) #NaN percentage for each column

## (3) Scaling

**First of all, before scaling...**

To understand the effects of scaling and encoding on model performance, let's get a **base score without any data transformation**.

‚ùì Cross-validate a linear regression model that predicts `SalePrice` using the other features ‚ùì

‚ö†Ô∏è Note that a linear regression model can only handle numeric features. [DataFrame.select_dtypes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.select_dtypes.html) can help.

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

# excluding all non-numeric columns and the target
X = data.select_dtypes(exclude='object').drop('SalePrice', axis=1)

y = data.SalePrice

cross_val_score(LinearRegression(), X, y, cv = 10).mean()

Keep this score in mind! You will train a new model after data preprocessing in Challenge #2 - see if it improves your average score üòâ

üöÄ Now, back to **feature scaling**!

###  `RoofSurface`

‚ùì **Question** about `RoofSurface` ‚ùì

üëá Investigate `RoofSurface` for distribution and outliers. Then, choose the most appropriate scaling technique. Either:

1. Standard Scaler
2. Robust Scaler
3. MinMax Scaler

Replace the original columns with the transformed values.

In [ ]:
data[['RoofSurface']].boxplot()
data[['RoofSurface']].plot.hist(bins=20)

from statsmodels.graphics.gofplots import qqplot
qqplot(data[['RoofSurface']],line='s');

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è Since `RoofSurface` has neither a Gaussian distribution, nor outliers $\rightarrow$ MinMaxScaler.
</details>

In [ ]:
from sklearn.preprocessing import MinMaxScaler

minmaxscaler = MinMaxScaler()
data['RoofSurface']= minmaxscaler.fit_transform(data[['RoofSurface']])
data.head()

### `GrLivArea`

‚ùì **Question** about `GrLivArea` ‚ùì

üëá Investigate `GrLivArea` for distribution and outliers. Then, choose the most appropriate scaling technique. Either:

1. Standard Scaler
2. Robust Scaler
3. MinMax Scaler

Replace the original columns with the transformed values.

In [ ]:
data[['GrLivArea']].boxplot()
data[['GrLivArea']].plot.hist(bins=20)
qqplot(data[['GrLivArea']],line='s');

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è `GrLivArea` has many outliers $\rightarrow$ RobustScaler()
</details>

In [ ]:
from sklearn.preprocessing import RobustScaler

rb_scaler = RobustScaler()
data['GrLivArea'] = rb_scaler.fit_transform(data[['GrLivArea']])
data.head()

### `BedroomAbvGr` ,  `OverallCond` & `KitchenAbvGr`

‚ùì **Questions** about `BedroomAbvGr`, `OverallCond` & `KitchenAbvGr` ‚ùì

üëá Investigate `BedroomAbvGr`, `OverallCond` & `KitchenAbvGr`. Then, chose one of the following scaling techniques:

1. MinMax Scaler
2. Standard Scaler
3. Robust Scaler

Replace the original columns with the transformed values.

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è `BedroomAbvGr` ,  `OverallCond` & `KitchenAbvGr` are ordinal features. There are less than 0.1% of outliers so no need to use _RobustScaler()_. The distribution is not Gaussian, hence no _StandardScaler()_. By elimination, you can confidently choose _MinMaxScaler()_.
</details>

In [ ]:
data.describe()

In [ ]:
from sklearn.preprocessing import MinMaxScaler

minmaxscaler_2 = MinMaxScaler()

data['BedroomAbvGr'], data['OverallCond'], data['KitchenAbvGr'] =  minmaxscaler_2.fit_transform(data[['BedroomAbvGr','OverallCond','KitchenAbvGr']]).T

data.head()

üß™ **Test your code**

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('scaling',
                         dataset = data
)

result.write()
print(result.check())

## (4) Feature Encoding

### `GarageFinish`

‚ùì **Question** about `GarageFinish`‚ùì

üëá Investigate `GarageFinish` and choose one of the following encoding techniques accordingly:
- Ordinal encoding
- One-Hot encoding

Add the encoding to the dataframe as new colum(s), and remove the original column.

<details>
    <summary>üí° <i>Hint</i></summary>
        
‚ÑπÔ∏è `GarageFinish` is a multicategorical feature that should be One-hot-encoded. You could also consider an Ordinal Encoding but we would have to know for sure that Unfinished or no garage are definitely worse that rough finished!
</details>

In [ ]:
data.GarageFinish.unique() # Check unique categories in GarageFinish

In [ ]:
from sklearn.preprocessing import OneHotEncoder

GarageFinish_ohe = OneHotEncoder(sparse_output = True) # Instanciate One hot encoder

GarageFinish_ohe.fit(data[['GarageFinish']]) # Fit one hot encoder

GarageFinish_ohe.categories_ # View categories of GarageFinish

In [ ]:
GarageFinish_ohe.get_feature_names_out()

In [ ]:
data[GarageFinish_ohe.get_feature_names_out()] = GarageFinish_ohe.fit_transform(data[['GarageFinish']])

data.drop(columns=['GarageFinish'], inplace = True) # Drop original column

data.head()

### Encoding  `CentralAir`

‚ùì **Question** about `CentralAir`‚ùì

Investigate `CentralAir` and choose one of the following encoding techniques accordingly:
- Ordinal encoding
- One-Hot encoding

Replace the original column with the newly generated encoded columns.

<details>
    <summary>üí° <i>Hint</i></summary>
    
‚ÑπÔ∏è `CentralAir` is a binary categorical feature.
</details>

In [ ]:
data.CentralAir.unique() # Check unique values of CentralAir

In [ ]:
CentralAir_encoder = OneHotEncoder(sparse=False, drop='if_binary', categories=[['N', 'Y']]) # Instanciate encoder

data['CentralAir'] = CentralAir_encoder.fit_transform(data[['CentralAir']]) # Fit encoder and tranform

data.head()

## (5) Feature Engineering

### `MoSold` - Cyclical engineering

üë®üèª‚Äçüè´ A feature can be numerical (continuous or discrete), categorical or ordinal. But a feature can also be temporal (e.g. quarters, months, days, minutes, ...). 

Cyclical features like time need some specific preprocessing. Indeed, if you want any Machine Learning algorithm to capture this cyclicity, your cyclical features must be preprocessed in a certain way.

üëâ Consider the feature `MoSold`, the month on which the house was sold.

In [ ]:
data["MoSold"].value_counts()

* Many houses were sold in June (6), July (7) and May (5) (Spring/Summer)
* Only a few houses were sold in December (12), January (1) and February (2) (~ Fall/Winter)
    * But for any Machine Learning model, there is no reason why December (12) and January (1) would be "close"...

üë©üèª‚Äçüè´ ***How to deal with cyclical features?***

1.  Look at the following illustration and read the explanations to distinguish two different months.

<img src="https://wagon-public-datasets.s3.amazonaws.com/05-Machine-Learning/02-Prepare-the-dataset/cyclical_feature_engineering.png" alt="Cyclical features" width="1000">


2. Read this [article](https://ianlondon.github.io/blog/encoding-cyclical-features-24hour-time/) for more details.

‚ùì **Question** about `MoSold` ‚ùì 
- Create two new features `sin_MoSold` and `cos_MoSold` which correspond respectively to the sine and cosine of MoSold.
- Drop the original column `MoSold`

<details>
    <summary>üí° <i>Hint</i></summary>
    
To create a time engineered feature based on a column which gives the second in the day!
```python
seconds_in_day = 24*60*60

df['sin_time'] = np.sin(2*np.pi*df.seconds/seconds_in_day)
df['cos_time'] = np.cos(2*np.pi*df.seconds/seconds_in_day)
df.drop(columns=['seconds'], inplace=True)

df.head()
```


</details>

In [ ]:
months_in_a_year = 12

data['sin_MoSold'] = np.sin(2*np.pi*(data.MoSold)/months_in_a_year)
data['cos_MoSold'] = np.cos(2*np.pi*(data.MoSold)/months_in_a_year)
data.drop(columns=['MoSold'], inplace=True)

data.head()

<u>Remarks</u>:
- The -1 is not mandatory because sine and cosine functions have a $ 2 \pi$ periodicity
- However, it is more correct  speaking in terms of trigonometry properties to include it because $cos(0) = 1$ and $sin(0) = 0$

üß™ **Test your code**

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('encoding', dataset = data, new_features = ['sin_MoSold', 'cos_MoSold'])

result.write()
print(result.check())

## (6) Export the preprocessed dataset

üëá Now that the dataset has been preprocessed, execute the code below to export it. You will keep working on it in the next exercise.

In [ ]:
data.to_csv("data/clean_dataset.csv", index=False)

üèÅ Congratulations! Now, you know how to ***preprocess a dataset*** !

üíæ Don't forget to git add/commit/push your notebook...

üöÄ ... and move on to the next challenge!